
<div id="tabs-option">
  <div class="container">
    <div class="row header">
      <h3>Different pricing charts</h3>
      <p>For some cases that you might also need</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabs">
          <div class="tab monthly active">
            <span>Pay Monthly</span>
          </div>
          <div class="tab anually">
							<span>
								Pay anually
								<small>20% off</small>
							</span>
          </div>
        </div>
        <div class="plans clearfix">
          <div class="plan col-md-4">
            <div class="header">
              <span class="icon entypo-user"></span>
              Solo Plan
              <div class="price" data-monthly="$15/mo" data-anually="$150/y">
                $15/mo
              </div>
            </div>
            <div class="specs">
              <div class="spec">
                <span class="variable">1</span> team member
              </div>
              <div class="spec">
                <span class="variable">Digital</span> recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span> online terminal
              </div>
              <div class="spec">
                <span class="variable">100</span> total products
              </div>
            </div>
          </div>
          <div class="plan col-md-4 middle">
            <div class="header">
              <span class="icon entypo-users"></span>
              Team Plan
              <div class="price" data-monthly="$49/mo" data-anually="$550/y">
                $49/mo
              </div>
            </div>
            <div class="specs">
              <div class="spec">
                <span class="variable">20</span> team members
              </div>
              <div class="spec">
                <span class="variable">Digital</span> recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span> online terminal
              </div>
              <div class="spec">
                <span class="variable">225</span> total products
              </div>
              <div class="spec">
                <span class="variable">Virtual</span> ssh keys
              </div>
            </div>
          </div>
          <div class="plan col-md-4">
            <div class="header">
              <span class="icon entypo-suitcase"></span>
              Agency Plan
              <div class="price" data-monthly="$99/mo" data-anually="$1,100/y">
                $15/mo
              </div>
            </div>
            <div class="specs">
              <div class="spec">
                <span class="variable">Unlimited</span> team members
              </div>
              <div class="spec">
                <span class="variable">Digital</span> recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span> online terminal
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span> total products
              </div>
              <div class="spec">
                <span class="variable">Virtual</span> ssh keys
              </div>
            </div>
          </div>
        </div>
        <div class="signup">
          <%= link_to 'Start your unlimited trial for 30 days', login_view_path, :class => 'button button-small' %>
          <div class="message">
            30-day money-back guarantee that starts after your first payment.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="chart-option">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><div class="divider"></div></div>
    </div>
    <div class="row header">
      <h3>Comparison charts</h3>
      <p>
        When you need to compare your plans or competitors
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="chart clearfix">
          <div class="features-col col-sm-6">
            <div class="header">
              Features
            </div>
            <div class="spec">
              <span class="icon brankic-calendar2"></span>
              Sync across all your devices
            </div>
            <div class="spec">
              <span class="icon brankic-loop"></span>
              Recurring Billing
            </div>
            <div class="spec">
              <span class="icon brankic-phone"></span>
              Online terminal included
            </div>
            <div class="spec">
              <span class="icon brankic-locked"></span>
              Complete products catalog
            </div>
            <div class="spec">
              <span class="icon brankic-key"></span>
              Deployment with ssh keys
            </div>
            <div class="spec">
              <span class="icon brankic-pictures3"></span>
              Add files and photos from email
            </div>
            <div class="spec last">
              <span class="icon brankic-envelope"></span>
              Get daily email notifications
            </div>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              Solo Plan
              <div class="price">
                $15/mo
              </div>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>

            <%= link_to 'Sign up free', login_view_path, :class => 'button button-small' %>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              Team Plan
              <div class="price">
                $49/mo
              </div>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>

            <%= link_to 'Sign up free', login_view_path, :class => 'button button-small' %>
          </div>
          <div class="plan-col last col-sm-2">
            <div class="header">
              Agency Plan
              <div class="price">
                $119/mo
              </div>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>
            <div class="spec">
              <%= image_tag 'checkmark.png', :class => 'check', :alt => 'checkmark' %>
            </div>

            <%= link_to 'Sign up free', login_view_path, :class => 'button button-small' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row message">
      <p>
        All of our plans come with a 30 day trial with no credit card required, we also offer a
        <%= link_to 'free plan', login_view_path %>.
      </p>
    </div>
    <div class="row faq">
      <div class="col-md-12">
        <div class="row header">
          <div class="col-md-12">
            <h3>Frequently Asked Questions</h3>
          </div>
        </div>
        <div class="row questions">
          <div class="col-md-6">
            <div class="question">
              <strong>Do I need a card to signup?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Can I cancel at anytime?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Do I need a card to signup?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="question">
              <strong>Can I cancel at anytime?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Do I need a card to signup?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
            <div class="question">
              <strong>Can I cancel at anytime?</strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {

        // Enables the pricing tabs
        $tabs = $("#tabs-option .tab");
        $prices = $("#tabs-option .price");
        $tabs.click(function () {
            $tabs.removeClass("active");
            $(this).addClass("active");
            var dataPrice = $(this).hasClass("monthly") ? "monthly" : "anually";
            $prices.each(function (index, el) {
                $(el).html($(el).data(dataPrice));
            });
        });
    });
</script>
