

<div id="showcase">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Our Portfolio</h3>
        <p>The best selection of our clients and projects we've worked on.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project">
          <h3>iOS Video Application</h3>
          <div class="screen">
            <%= image_tag 'portfolio1.png', :class => 'img-responsive', :alt => 'portfolio1' %>
          </div>
          <p class="description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          </p>
          <div class="divider"></div>
          <div class="visit">
            <%= link_to 'Visit Project Website', portfolio_item_path, :class => 'button' %>
          </div>
        </div>
        <div class="project">
          <h3>Designed with the whole company in mind</h3>
          <div class="screen">
            <%= image_tag 'portfolio2.png', :class => 'img-responsive', :alt => 'portfolio2' %>
          </div>
          <p class="description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          </p>
          <div class="divider"></div>
          <div class="visit">
            <%= link_to 'Visit Project Website', portfolio_item_path, :class => 'button' %>
          </div>
        </div>
        <div class="project">
          <h3>Complete device setup development</h3>
          <div class="screen">
            <%= image_tag 'portfolio3.png', :class => 'img-responsive', :alt => 'portfolio3' %>
          </div>
          <p class="description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          </p>
          <div class="divider"></div>
          <div class="visit">
            <%= link_to 'Visit Project Website', portfolio_item_path, :class => 'button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

