<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React - Bootstrap Theme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- stylesheets -->
  <%= stylesheet_link_tag 'compiled/theme' %>
  <% if @aditional_css %>
      <% @aditional_css.each do |css| %>
          <%= stylesheet_link_tag css %>
      <% end %>
  <% end %>


  <!-- javascript
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap/bootstrap.min'  %>
  <% if @aditional_js %>
      <% @aditional_js.each do |js| %>
          <%= javascript_include_tag js %>
      <% end %>
  <% end %>

  <%= javascript_include_tag 'theme'  %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="<%= @body_id %>">

    <header class="navbar navbar-inverse normal" role="banner">
        <%= render 'layouts/header' %>
    </header>

    <%= yield %>

    <div id="footer">
        <%= render 'layouts/footer' %>
    </div>

</body>
</html>
